$main-color: 220;


$first-color: hsl($main-color, 61%, 28%, 100%);
$second-color: hsl($main-color, 61%, 37%, 100%);
$third-color: hsl($main-color, 61%, 46%, 100%);
$fourth-color: hsl($main-color, 61%, 55%, 100%);
$fifth-color: hsl($main-color, 61%, 64%, 100%);


$secondary-color: rgb(240, 238, 231);

$font-roboto: 'Roboto', sans-serif ;
$font-barlow: 'Barlow Condensed', sans-serif ;


$gradient: linear-gradient(180deg,
 #1c3a75 0%, 
 #335392 10%, 
 #516ea6 20%, 
 #677fb0 30%,
 #8697b8 40%, 
 #b2bfda 50%,  
 #bacbee 60%, 
 #bacbeea3 70%,
 #bacbee7b 80%,
 #bacbee00 90%);


$weight-100: 100;
$weight-300: 300;
$weight-400: 400;
$weight-600: 600;