@import '../../variables.scss';

.main_container {
  position: absolute;
  width: 300px;
  height: 400px;
  right: 350px;
  border-radius: 10px;
  background-color: $third-color;
}

.validField {
  color: rgb(113, 211, 113);
}