@import '../../_variables.scss';

.main_container {
  position: absolute;
  width: 300px;
  height: 400px;
  right: 350px;
  border-radius: 10px;
  background-color: $secondary-color;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
  h4, p {
    text-align: center;
  }
  h4 {
    color: $fourth-color;
  }
}

.invalidField {
  color: rgb(204, 42, 42);
}

.validField {
  color: rgb(27, 131, 27);
}