@import '../../variables';

.top_section {
  display: flex;
  justify-content: space-between;
  .top_btns {
    text-decoration: none;
    width: 130px;
    height: 60px;
    padding-top: 15px;
    text-align: center;
    cursor: pointer;
    font-family: $font-roboto;
    color: $secondary-color;
    background-color: $third-color;
  }
}

.waves_container {
  position: absolute;
  padding-bottom: 2px;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}