@import '../../variables.scss';

.card_container {
  width: 300px;
  height: 200px;
  background-color: $secondary-color ;
  margin: 0 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
    .title_link {
      text-decoration: none;
      .note_header {
        margin: 0 25px;
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $third-color;
        text-decoration: none;
        color: $third-color;
      &:visited, &:hover, &:active {
        color: $third-color;
      }
    }
  }
  .note_body {
    margin: 10px auto;
    padding: 0 25px;
    width: 250px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .bottom_container {
    display: flex;
    justify-content: space-between;
    // margin-top: auto;
    margin: auto 15px 10px 0;
    .note_author {
      text-align: right;
    }
  }
}
